name: Spring Boot CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build JAR
        run: mvn clean package

      - name: Build Docker Image
        run: docker build -t springboot-ci-cd-demo .

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Tag Docker image
        run: docker tag springboot-ci-cd-demo ${{ secrets.DOCKER_USERNAME }}/springboot-ci-cd-demo:latest

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/springboot-ci-cd-demo:latest

